body {
	padding-top: 50px;
}

.starter-template {
	padding: 40px 15px;
	text-align: left;
}

.event-label {
	 color: white !important;
	 white-space: normal !important;
	 text-align: left;
}

p .event-label {
	font-size: 110%;
}

.btn-containers form {
	display: inline;
}

.row h2 {
	margin-top: 0;
}